[Unit]
Description=V4L2 Loopback

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=#modprobeLocation# v4l2loopback card_label='Immersed Cam' video_nr=#videoDevice# exclusive_caps=1
ExecStop=#rmmodLocation# v4l2loopback

[Install]
WantedBy=default.target